{:deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/core.async    {:mvn/version "1.3.618"}
        org.clojure/test.check    {:mvn/version "1.1.0"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        com.taoensso/nippy        {:mvn/version "3.1.1"}}

 :aliases
 {:mvn/group-id    com.fluree
  :mvn/artifact-id raft
  :mvn/version     "1.0.0-beta2"

  :test
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts  ["-m" "cognitect.test-runner"]}

  :kv-example
  {:extra-paths ["resources"]
   :extra-deps  {ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
   :exec-fn     fluree.raft.kv-example/run
   :exec-args   {:instances 3}}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar         "target/fluree-raft.jar"
                  :group-id    :mvn/group-id
                  :artifact-id :mvn/artifact-id
                  :version     :mvn/version
                  :sync-pom    true}}

  :install
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn      deps-deploy.deps-deploy/deploy
   :exec-args    {:installer :local}
   :artifact     "target/fluree-raft.jar"}

  :deploy
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn      deps-deploy.deps-deploy/deploy
   :exec-args    {:installer      :remote
                  :sign-releases? true
                  :artifact       "target/fluree-raft.jar"}}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts ["-m" "eastwood.lint" {:source-paths ["src"] :out "scanning_results/eastwood.out"}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.06.18"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}
