{:deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/core.async    {:mvn/version "1.6.673"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        com.taoensso/nippy        {:mvn/version "3.2.0"}}
 :aliases
       {:dev
        {:extra-paths ["test"]
         :extra-deps {com.magnars/test-with-files {:mvn/version "2021-02-17"}}}

        :test
        {:extra-paths ["test"]
         :extra-deps  {com.cognitect/test-runner
                       {:git/url "https://github.com/cognitect-labs/test-runner.git"
                        :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                       com.magnars/test-with-files {:mvn/version "2021-02-17"}}
         :main-opts   ["-m" "cognitect.test-runner"]}

        :jar
        {:deps {io.github.clojure/tools.build {:git/sha "8e78bcc"}}
         :ns-default build}

        :install
        {:deps {io.github.clojure/tools.build {:git/sha "8e78bcc"}}
         :ns-default build}
        
        :deploy
        {:deps {io.github.clojure/tools.build {:git/sha "8e78bcc"}
                slipset/deps-deploy {:mvn/version "RELEASE"}}
         :ns-default build}
        
        :coverage
        {:extra-paths ["test"]
         :extra-deps  {cloverage/cloverage {:mvn/version "1.2.4"}}
         :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

        :eastwood
        {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
         :main-opts ["-m" "eastwood.lint" {:source-paths ["src"] :out "scanning_results/eastwood.out"}]}

        :ancient
        {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
         :main-opts ["-m" "antq.core"]}

        :clj-kondo
        {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.05.26"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}
        
        :cljfmt
        {:extra-deps {cljfmt/cljfmt {:mvn/version "0.10.5"}}
         :main-opts ["-m" "cljfmt.main"]}}}
